# Make sure to enable NUMA
CONFIG_NUMA=y

# Enable KSM
# https://bugs.linaro.org/show_bug.cgi?id=3857#c3
CONFIG_KSM=y

# Autogroup
# https://bugs.linaro.org/show_bug.cgi?id=3377#c0
CONFIG_SCHED_AUTOGROUP=y

# https://bugs.linaro.org/show_bug.cgi?id=4255
CONFIG_MEMCG=y

# https://bugs.linaro.org/show_bug.cgi?id=4262
CONFIG_TASKSTATS=y
CONFIG_TASK_IO_ACCOUNTING=y
