# Make sure to enable NUMA
CONFIG_NUMA=y

# Enable KSM
# https://bugs.linaro.org/show_bug.cgi?id=3857#c3
CONFIG_KSM=y

# Autogroup
# https://bugs.linaro.org/show_bug.cgi?id=3377#c0
CONFIG_SCHED_AUTOGROUP=y

# https://bugs.linaro.org/show_bug.cgi?id=4255
CONFIG_MEMCG=y

# https://bugs.linaro.org/show_bug.cgi?id=4262
CONFIG_TASKSTATS=y
CONFIG_TASK_IO_ACCOUNTING=y
CONFIG_TASK_XACCT=y

# Vivid driver for V4L2 tests
CONFIG_MEDIA_TEST_SUPPORT=y
CONFIG_V4L_TEST_DRIVERS=y
CONFIG_VIDEO_VIVID=m
CONFIG_MEDIA_SUPPORT=y
CONFIG_MEDIA_CAMERA_SUPPORT=y
CONFIG_VIDEO_V4L2=y
CONFIG_VIDEO_DEV=y
CONFIG_VIDEOBUF2_CORE=m
CONFIG_VIDEOBUF2_V4L2=m
CONFIG_VIDEOBUF2_MEMOPS=m
CONFIG_VIDEOBUF2_DMA_CONTIG=m
CONFIG_VIDEOBUF2_VMALLOC=m
CONFIG_VIDEO_V4L2_TPG=m

# Enable ASIX USB NET drivers
CONFIG_USB_USBNET=y
CONFIG_USB_NET_AX8817X=y
CONFIG_USB_NET_AX88179_178A=y

# Networking for db845c
CONFIG_PHY_QCOM_QMP=y
CONFIG_PHY_QCOM_UFS=y
CONFIG_PHY_QCOM_USB_SS=y

# Enable for kvm-unit-tests
CONFIG_HAVE_KVM_IRQCHIP=y
CONFIG_HAVE_KVM_IRQFD=y
CONFIG_HAVE_KVM_IRQ_ROUTING=y
CONFIG_HAVE_KVM_EVENTFD=y
CONFIG_KVM_MMIO=y
CONFIG_KVM_ASYNC_PF=y
CONFIG_HAVE_KVM_MSI=y
CONFIG_HAVE_KVM_CPU_RELAX_INTERCEPT=y
CONFIG_KVM_VFIO=y
CONFIG_KVM_GENERIC_DIRTYLOG_READ_PROTECT=y
CONFIG_KVM_COMPAT=y
CONFIG_HAVE_KVM_IRQ_BYPASS=y
CONFIG_KVM=y
CONFIG_KVM_INTEL=y
CONFIG_KVM_AMD=y
CONFIG_KVM_MMU_AUDIT=y
CONFIG_USER_RETURN_NOTIFIER=y
CONFIG_PREEMPT_NOTIFIERS=y
CONFIG_IRQ_BYPASS_MANAGER=y

# Enable BFQ I/O scheduler
CONFIG_IOSCHED_BFQ=m
CONFIG_BFQ_GROUP_IOSCHED=y
CONFIG_BLK_CGROUP=y

# Enable for arm32/x86 LTP systcalls/fanotify
# https://bugs.linaro.org/show_bug.cgi?id=5633
CONFIG_FANOTIFY=y

# Enable controllers and cgroup tests from LTP
# https://projects.linaro.org/browse/LKQ-279
CONFIG_CGROUP_FREEZER=y
CONFIG_CGROUP_NET_PRIO=y
CONFIG_NET_CLS_CGROUP=y
CONFIG_SCHED_DEBUG=y
CONFIG_UCLAMP_TASK=y
CONFIG_UCLAMP_TASK_GROUP=y

# Enable network chipset for ThunderX2
CONFIG_NET_VENDOR_QLOGIC=y
CONFIG_QED=y
CONFIG_QED_SRIOV=y
CONFIG_QEDE=y

# Enable for selftest kvm tests
# https://bugs.linaro.org/show_bug.cgi?id=3780
CONFIG_TRANSPARENT_HUGEPAGE=y
CONFIG_TRANSPARENT_HUGEPAGE_ALWAYS=y
CONFIG_TRANSPARENT_HUGEPAGE_MADVISE=y
